/*
    Author    : POCAGA
    Version   : 1.0
*/
/*
================================================
1. Fonts - SVN-Nexa
================================================
*/

@font-face {
    font-family: 'SVN-Nexa';
    src: local('SVN-Nexa'),    /* full font name */
         local('SVN-Nexa'),    /* Postscript name */
         url('fonts/ttf/SVN-Nexa%20Bolde627.ttf?3p0rtw') format('truetype');
}

@font-face {
    font-family: 'SVN-Nexa Heavy';
    src: local('SVN-Nexa Heavy'),    /* full font name */
         local('SVN-Nexa Heavy'),    /* Postscript name */
         url('fonts/ttf/SVN-Nexa%20Heavye627.ttf?3p0rtw') format('truetype');
}

@font-face {
    font-family: 'SVN-Nexa Book';
    src: local('SVN-Nexa Book'),    /* full font name */
         local('SVN-Nexa Book'),    /* Postscript name */
         url('fonts/ttf/SVN-Nexa%20Booke627.ttf?3p0rtw') format('truetype');
}

@font-face {
    font-family: 'SVN-Nexa Thin';
    src: local('SVN-Nexa Thin'),    /* full font name */
         local('SVN-Nexa Thin'),    /* Postscript name */
         url('fonts/ttf/SVN-Nexa%20Thine627.ttf?3p0rtw') format('truetype');
}

@font-face {
    font-family: 'SVN-Nexa Light';
    src: local('SVN-Nexa Light'),    /* full font name */
         local('SVN-Nexa Light'),    /* Postscript name */
         url('fonts/ttf/SVN-Nexa%20Lighte627.ttf?3p0rtw') format('truetype');
}

@font-face {
    font-family: 'SVN-Nexa Regular';
    src:  local('SVN-Nexa Regular'),    /* full font name */
          local('SVN-Nexa Regular'),    /* Postscript name */
          url('fonts/ttf/SVN-Nexa%20Regulare627.ttf?3p0rtw') format('truetype');
}

@font-face {
    font-family: 'SVN-Nexa Bold';
    src: local('SVN-Nexa Bold'),    /* full font name */
         local('SVN-Nexa Bold'),    /* Postscript name */
         url('fonts/ttf/SVN-Nexa%20Bolde627.ttf?3p0rtw') format('truetype');
}
/*
================================================
2. Common CSS
================================================
*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SVN-Nexa Regular','SVN-Nexa', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #fff;
    background-color: #000;
    padding-top: 70px;
    overflow-x: hidden;
}

    body.active-navbar-slide {
        overflow: hidden;
    }

a,a:active,a:focus,a:visited,a:link,a:not(:focus){
    color: #fff;
    transition: all .25s ease-in-outs;
    -webkit-transition: all .25s ease-in-out; /* Safari */
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transform: all .25s ease-in-out;
    text-decoration: none;
}
a:hover
{
    text-decoration: none;
}
a.no-transition
{
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}
p {
    margin: 0 0 20px;
}


sup
{
    left: -0.3em;
    top: -0.4em;
}
.btn-round {
    position: relative;
    border-radius: 20px;
    background-image: linear-gradient(to right, #000, #000);
    color: #fff;
    background-clip: padding-box;
    border: 1px solid transparent;
    padding: 8px 20px;
    z-index: 1;
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
}

    .btn-round.btn-border::after {
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background-image: linear-gradient(to top, #732B90, #EC1C25);
        content: '';
        z-index: -1;
        border-radius: 20px;
    }

    .btn-round:hover {
        background-color: #fff;
        background-image: linear-gradient(to right, #fff, #fff);
        color: #CC2141;
    }
    .btn-round.btn-border:hover ::after {
        background-image:transparent
    }

    .btn-round.btn-block {
        display: block;
        text-align: center;
    }

.btn-gradient {
    color: #fff;
    background-image: linear-gradient(to right, #732B90, #EC1C25);
    position: relative;
}

    .btn-gradient:hover {
        background-color: #fff;
        background-image: linear-gradient(to right, #fff, #fff);
        color: #CC2141;
    }

    .btn-gradient.inverse {
        position: relative;
        background-color: #fff;
        background-image: linear-gradient(to right, #fff, #fff);
        color: #CC2141;
    }

        .btn-gradient.inverse:hover {
            color: #fff;
            background-image: linear-gradient(to right, #732B90, #EC1C25);
        }

.btn-gradient-opacity {
    color: #fff;
    background-image: none;
    position: relative;
}

    .btn-gradient-opacity::after {
        content: "";
        background-image: linear-gradient(to right, #732B90, #EC1C25);
        opacity: 0.7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        border-radius: 20px;
    }

    .btn-gradient-opacity:hover::after {
        background-image: none;
        opacity: 1;
    }

.btn-white {
    background-color: #fff;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.text-center {
    text-align: center;
}

.display-inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.img-responsive {
    max-width: 100%;
}

.row.row-10
{
    margin-left:-10px;
    margin-right: -10px;
}
.row.row-10 .col-10
{
    padding-left:10px;
    padding-right: 10px;
}
.no-margin{margin:0 !important}
.no-margin-top{margin-top:0 !important}
.no-margin-bottom{margin-bottom:0 !important}
.no-margin-left{margin-left:0 !important}
.no-margin-right{margin-right:0 !important}
.m-5{margin:5px !important}
.m-10{margin:10px !important}
.m-15{margin:15px !important}
.m-20{margin:20px !important}
.mt-0{margin-top:0 !important}
.mt-5{margin-top:5px !important}
.mt-10{margin-top:10px !important}
.mt-15{margin-top:15px !important}
.mt-20{margin-top:20px !important}
.mb-5{margin-bottom:5px !important}
.mb-10{margin-bottom:10px !important}
.mb-15{margin-bottom:15px !important}
.mb-20{margin-bottom:20px !important}
.ml-5{margin-left:5px !important}
.ml-10{margin-left:10px !important}
.ml-15{margin-left:15px !important}
.ml-20{margin-left:20px !important}
.mr-5{margin-right:5px !important}
.mr-10{margin-right:10px !important}
.mr-15{margin-right:15px !important}
.mr-20{margin-right:20px !important}
.no-padding{padding:0 !important}
.no-padding-top{padding-top:0 !important}
.no-padding-bottom{padding-bottom:0 !important}
.no-padding-left{padding-left:0 !important}
.no-padding-right{padding-right:0 !important}
.p-5{padding:5px !important}
.p-10{padding:10px !important}
.p-15{padding:15px !important}
.p-20{padding:20px !important}
.pt-5{padding-top:5px !important}
.pt-10{padding-top:10px !important}
.pt-15{padding-top:15px !important}
.pt-20{padding-top:20px !important}
.pb-5{padding-bottom:5px !important}
.pb-10{padding-bottom:10px !important}
.pb-15{padding-bottom:15px !important}
.pb-20{padding-bottom:20px !important}
.pl-5{padding-left:5px !important}
.pl-10{padding-left:10px !important}
.pl-15{padding-left:15px !important}
.pl-20{padding-left:20px !important}
.pr-5{padding-right:5px !important}
.pr-10{padding-right:10px !important}
.pr-15{padding-right:15px !important}
.pr-20{padding-right:20px !important}
/*
================================================
loader
================================================
*/
#apploader{
	background-color:rgba(0,0,0,0.8);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 90000;
	left: 0%;
    top: 0%;
    display: none!important;
}
.loader-three-bounce {
	position:absolute;
	top:50%;
	margin-top:-10px;
	left:50%;
	margin-left:-40px;
	width: 80px;
	text-align: center;
}

.loader-three-bounce .loader-child {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: loaderthree-bounce 1.4s ease-in-out 0s infinite both;
	animation: loader-three-bounce 1.4s ease-in-out 0s infinite both;
}

.loader-three-bounce .loader-bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.loader-three-bounce .loader-bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
@-webkit-keyframes loader-three-bounce {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes loader-three-bounce {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
/*override*/
.progress
{
    background-color: #51072B;
    background-image: linear-gradient(to right, #7706f7, #f70650, 0.3);
    overflow: visible;
    margin-top: 35px ;
    position: relative;
    margin-bottom: 45px ;
}
.progress .progress-bar-min,.progress .progress-bar-max
{
    position: absolute;
    bottom: -25px;
}
.progress .progress-bar-min
{
    left: 0
}
.progress .progress-bar-max
{
    right: 0;
}
.progress-bar
{
    border-radius: 4px;
    position: relative;
    background-image: linear-gradient(to right, #7706f7, #f70650);
}
.progress-bar::after
{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -15px;
    right: -8px;
    margin-left: -8px;
    border-color: transparent;
    border-style: solid;
    border-width: 8px 8px 0;
    border-top-color: #F7296A;
}
.progress-bar-striped
{
    display: block;
    width: 100%;
    height: 100%;

    background-image: -webkit-linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}
.progress-bar-animated
{
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-text
{
    position: absolute;
    top:-35px;
    left: 0;
    text-transform: uppercase;
    font-size: 11px;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    display: block;    
}
/*
================================================
Header
================================================
*/
header {
    background-color: #000;   
    display: block;
}


.logo-wrapper {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    background-color: #000;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.logo-wrapper.scroll-hide
{
    top: -100px;
}

.logo-wrapper::after
{
    content: "";
    background-image: linear-gradient(to right, #732B90 35%, #EC1C25 80%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 1px;
    z-index: -1
}


.head-navbar-toggle {
    position: absolute;
    left: 0;
    top: 5px;
    z-index: 1;
}

.header .icon-bar {
    display: block;
    width: 40px;
    height: 6px;
    border-radius: 5px;
    margin: 10px 0;
    background-image: linear-gradient(to right, #9F2669 10%, #C52248);
}

.head-navbar-user {
    position: absolute;
    right: 0;
    top: 5px;
    background-color: transparent;
    background-image: none;
    border: none;
    z-index: 1;
}

    .head-navbar-user img {
        display: inline-block
    }

/*
================================================
mobile menu
================================================
*/

.navbar-mobile {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    max-width: 70%;
    left: -120%;
    top: 0;
    overflow-y: auto;
    z-index: 99;
    background: #fff;
    color: #000;
    position: fixed;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transform: all .25s ease-in-out;
    padding-bottom: 50px;
    box-shadow: 5px 4px 4px -2px rgba(0,0,0,.5);
}

.navbar-mobile.expand {
    left: 0;
}

.navbar-mobile .toggle-act {
    display: inline-block;
}

.navbar-mobile .side-menu {
    padding: 25px;
}

.header .bg-overlay {
    position: fixed;
    background-color: rgba(0,0,0,.5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    min-height: 100%;
    width: 100%;
    border: none;
    display: none;
}

.active-navbar-slide .bg-overlay {
    display: block;
}

.navbar-mobile .user-info {
    margin: 15px 0 25px 0;
}

.navbar-mobile .user-info .avatar {
    margin: 0 15px 0 0
}

.navbar-mobile .user-info .user-name {
    margin-top: 30px;
    color: #cc2141;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'SVN-Nexa Heavy';
}

.navbar-mobile .user-info .user-code {
    font-family: 'SVN-Nexa Book';
    font-size: 18px;
    font-weight: bold;
}

.navbar-mobile .navbar-link {
    margin-bottom: 20px;
}

    .navbar-mobile .navbar-link li {
        padding-bottom: 5px;
    }

    .navbar-mobile .navbar-link a {
        font-family: 'SVN-Nexa Heavy';
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        color: #cdcccc;
    }

    .navbar-mobile .navbar-link li:hover a {
        color: #CC2141;
        text-decoration: underline;
    }

/*
================================================
Navigation
================================================
*/
.navbar-default {
    background-color: inherit;
    border-color: inherit;
    height: 70px
}


.navbar {
    border-radius: 0;
    margin: 0;
    border: none;
}

.navbar-collapse {
    padding: 0;
}

.navbar-brand {
    margin: 0px 50px 0 0;
    height: auto;
    padding: 0;
}

    .navbar-brand img {
        display: inline-block;
        width: 165px;
        height: 62px;
        margin-top: 5px; 
    }



.navbar-nav > li {
    padding: 24px 15px;
}

.navbar-default .navbar-nav > li > a {
    font-family: 'SVN-Nexa Heavy';
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: solid 1px transparent;
}

.navbar-default .navbar-nav > li.active > a, 
.navbar-default .navbar-nav > li.active > a:hover, 
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .nav>li>a:focus {
    color: #d1293c;
    background-color: transparent;
    border-bottom: solid 1px #CB223F;
}

.navbar-nav > li > a {
    padding: 0px;
}

.navbar-default .sing-up-button {
    padding: 22px 0px;
}

    .navbar-default .sing-up-button a {
        font-family: 'SVN-Nexa Heavy';
        font-size: 13px;
        text-transform: uppercase;
        margin: 0 20px 0 0px;
        position: relative;
    }
    .navbar-default .sing-up-button a:last-child {
        margin: 0
    }

    .navbar-default .sing-up-button a.has-icon
    {
        padding-left:35px; 
    }
    .navbar-default .sing-up-button a.telegram:before {
        content: '';
        background: url(../images/telegram_icon_top.png) no-repeat;
        background-size: 20px;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: top;
        margin-left: 7px;
        position: absolute;
        left: 0;
        top:5px;
    }
    .navbar-default .sing-up-button a.telegram:hover:before {
        background-position-y:-20px; 
    }
/*
================================================
Banner
================================================
*/
.banner {
    position: relative;
    display: block;
    min-height: 700px;
    overflow: hidden
}

.banner .banner_video
{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    background: transparent url(../images/banner_bg.png) no-repeat center center;
}
.banner .banner-wrapper {
    padding: 40px 0;
}

.banner .banner-content {
    z-index: 1;
}

.banner .languages-nav
{
    display: block;
}
.banner .languages-nav ul li a
{
    font-size: 22px;
    padding: 0 20px 0 0;
}
.banner .languages-nav ul li:last-child  a
{
    padding: 0;
}
.banner .languages-nav ul li a img
{
    max-width: 100%;
    width: 30px;
    border: solid 1px transparent;
}
.banner .languages-nav ul li a:hover img
{
    border-color: #fff
}

.banner h1 {
    display: block;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'SVN-Nexa Light';
}

    .banner h1 span {
        font-family: 'SVN-Nexa';
        display: block;
    }

.banner h4 {
    margin: 35px 0;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'SVN-Nexa Light';
    line-height: 20px;
    line-height: 25px;
}

    .banner h4 span {
        display: block;
    }

.banner .section {
    display: block;
}

    .banner .section .section-title {
        display: block;
        font-weight: bold;
        padding: 5px 0
    }

    .banner .section p {
        padding: 0;
        margin: 0;
        font-family: 'SVN-Nexa Thin';
        font-size: 16px;
    }

.banner .media-link {
    display: block;
    margin-top: 25px;
}

    .banner .media-link .media-button .play {
        padding-right: 50px;
    }

        .banner .media-link .media-button .play span {
            position: absolute;
            right: 5px;
            top: 5px;
            z-index: -1;
        }

    .banner .media-link .media-social .slash {
        display: none;
        border-bottom: solid 1px #DB1F35;
        width: 5%;
        padding: 0 5px;
    }

        .banner .media-link .media-social .slash.slash-long {
            width: 10%;
        }

        .banner .media-link .media-social a
        {
            display: inline-block;
            width: 42px;
            height: 42px;
            background-image:url(../images/social-icons.png);
            background-repeat: no-repeat;
            line-height: 42px;
            -webkit-transition-property: none;
            -moz-transition-property: none;
            -o-transition-property: none;
            transition-property: none;
        }
        .banner .media-link .media-social a.fb
        {
            background-position: 0 0;
        }
        .banner .media-link .media-social a.telegram
        {
            background-position: -42px 0;
        }
        .banner .media-link .media-social a.bitcoin
        {
            background-position: -84px 0;
        }
        .banner .media-link .media-social a.twitter
        {
            background-position: -126px 0;
        }
        .banner .media-link .media-social a:hover
        {
            background-position-y: 100%;
        }

.banner .link-more {
    display: block;
    margin-top: 20px;
}

    .banner .link-more .block {
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase;
        font-family: 'SVN-Nexa Light';
    }

        .banner .link-more .block span {
            display: block;
            font-weight: bold;
            font-family: 'SVN-Nexa';
        }

        .banner .link-more .block a {
            display: block;
            font-weight: bold;
            color: #CC2141;
            margin-top: 15px;
            font-family: 'SVN-Nexa';
        }

            .banner .link-more .block a:hover {
                color: #fff
            }

.banner .timer-box {
    display: block;
    padding: 35px;
    text-align: center;
    border: solid 2px #CC2141;
    border-radius: 20px;
    margin-top: 28px;
    position: relative;
    z-index: 1;
    width: 92%;
    margin-left: 4%;
    top: -40px;
}

    .banner .timer-box::before {
        content: "";
        background-image: linear-gradient(to right, #000, #000);
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        border-radius: 20px;
    }



    .banner .timer-box .timer-title {
        margin-bottom: 30px;
        margin-top: 30px;
    }

        .banner .timer-box .timer-title h2 {
            text-transform: uppercase;
            font-size: 40px;
            letter-spacing: 8px;
            font-family: 'SVN-Nexa Regular';
            margin: 0;
        }

            .banner .timer-box .timer-title h2 span {
                display: block;
                font-size: 20px;
                font-weight: normal;
                font-family: 'SVN-Nexa Thin';
                font-weight: bold;
                letter-spacing: 5px;
                margin-top: 10px;
            }

    .banner .timer-box .timer {
        margin-bottom: 50px;
    }

        .banner .timer-box .timer .item {
            display: block;
            text-align: center;
            font-size: 35px;
            font-weight: bold;
            text-transform: uppercase;
        }

            .banner .timer-box .timer .item span {
                display: block;
                font-weight: bold;
                margin-top: 10px;
                font-size: 18px;
                font-family: 'SVN-Nexa Light';
            }

    .banner .timer-box .accepts {
        margin: 20px 0 15px 0;
        display: block;
        text-transform: uppercase;
        font-size: 20px;
    }

    .banner .timer-box .coins {
        margin: 20px 0
    }

    .banner .timer-box .publish {
        display: block;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 5px;
    }

        .banner .timer-box .publish span {
            display: block;
            font-size: 35px;
            letter-spacing: 0px;
            font-weight: bold;
            margin: 10px 0;
        }


/*
================================================
Section
================================================
*/
    .section-1 {
        background-color: #20070D;
    }

    .section-1 .ext-links {
        text-align: center;
        margin: 20px 0;
        display: none;
    }

        .section-1 .ext-links img {
            max-width: 100%;
        }

    .section-1 .blocks {
        display: block;
        margin: 50px 0;
    }

    .section-1 .blocks .block {
        display: block;
        background-image: linear-gradient(to right, #9D2567, #C2214A);
        padding: 55px 20px 35px 35px;
        margin: 10px 0;
        border-radius: 20px;
        position: relative;
        background-clip: padding-box;
        border: 1px solid transparent;
    }

    .section-1 .blocks .block::after {
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background-image: linear-gradient(to right, #732B90, #EC1C25);
        content: '';
        z-index: -1;
        border-radius: 20px;
    }

    .section-1 .blocks .block h2 {
        font-family: 'SVN-Nexa Bold';
        font-size: 27px;
        font-weight: bold;
        margin: 0 0 35px 0;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

        .section-1 .blocks .block h2 span {
            display: block;
        }

    .section-1 .blocks .block .number {
        font-family: 'SVN-Nexa Bold';
        font-size: 100px;
        line-height: 100px;
        font-weight: bold;
    }

    .section-1 .blocks .block .number.small-number {
        font-size: 90px;
        line-height: 90px;
    }

    .section-1 .blocks .block .board {
        font-size: 37px;
        line-height: 37px;
        letter-spacing: 8.5px;
        text-transform: uppercase;
        padding: 10px;
        display: block;
        /* text-align: justify; */
        font-family: 'SVN-Nexa Bold';
        display: inline-block;
    }

    .section-1 .blocks .block .shadow .board {
        background-color: #fff;
        color: #a52564;
        display: block;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .section-1 .blocks .block .board span {
        display: block
    }

    .section-2 {
        background: transparent url(../images/section-2.jpg) left center;
        background-size: cover;
    }

    .section-2 .wrapper {
        background-image: linear-gradient(to right, transparent 40%, #000 70%);
        padding: 50px 0 100px 0;
    }

    .section-2 .icon {
        display: block;
        text-align: center;
    }

    .section-2 h2 {
        display: block;
        text-transform: uppercase;
        font-size: 35px;
        letter-spacing: 10px;
        font-family: 'SVN-Nexa Bold';
        margin-bottom: 50px;
    }

        .section-2 h2 span {
            display: block;
            font-size: 20px;
            letter-spacing: 4px;
            margin-top: 10px;
        }


.section-3 {
    background-image: linear-gradient(to top, #742b90, #e81d28);
}

    .section-3 .wrapper {
        padding: 30px 0;
        background: transparent url(../images/section-3.png) center center;
        background-size: cover;
    }

    .section-3 h2 {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
        font-family: 'SVN-Nexa Bold';
        margin-bottom: 30px;
        letter-spacing: 10px;
    }

        .section-3 h2 span {
            display: block;
            margin-top: 10px;
        }

    .section-3 h4 {
        display: block;
        text-align: center;
        font-size: 20px;
        margin-bottom: 30px;
    }

        .section-3 h4 span {
            display: block;
        }

    .section-3 .blocks {
        display: block;
    }

        .section-3 .blocks .block {
            display: block;
            text-align: center;
            width: 85%;
            margin: 0 auto;
        }

            .section-3 .blocks .block .icon img {
                max-width: 100%;
            }

            .section-3 .blocks .block .title {
                display: block;
                font-size: 20px;
                margin-top: 10px;
                margin-bottom: 50px;
                min-height: 50px;
            }


.section-3 .section-action {
    margin: 50px 0;
    text-align: center;
    display: block;
}

    .section-3 .section-action .btn-action {
        text-transform: uppercase;
        border: solid 1px #fff;
        z-index: 1;
    }


.section-4 {
    background: transparent url(../images/section-4.png) center top no-repeat;
}

    .section-4 .wrapper {
        padding: 30px 0;
        background-image: linear-gradient(to bottom, transparent, #000);
    }

    .section-4 h2 {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
        font-family: 'SVN-Nexa Bold';
        margin-bottom: 30px;
        letter-spacing: 10px;
    }

        .section-4 h2 span {
            display: block;
            margin-top: 10px;
        }

    .section-4 .blocks {
        display: block;
    }

        .section-4 .blocks .block {
            display: block;
            background-image: linear-gradient(to right, #8E287B, #CB2042);
            padding: 20px 30px;
            margin-bottom: 30px;
            border-radius: 20px;
        }

            .section-4 .blocks .block .icon {
                font-family: 'SVN-Nexa Bold';
                font-size: 80px;
                line-height: 80px;
                font-weight: bold;
                text-transform: uppercase;
            }

                .section-4 .blocks .block .icon.icon-xlg {
                    font-size: 155px;
                    padding-top: 100px;
                }

                .section-4 .blocks .block .icon .sub {
                    font-size: 24px;
                    line-height: 24px;
                    display: inline-block;
                }

                    .section-4 .blocks .block .icon .sub span {
                        display: block;
                        line-height: 24px;
                    }

                    .section-4 .blocks .block .icon .sub2{
                        padding-top: 10px;
                    }
                    .section-4 .blocks .block .icon .sub2 .sub{
                        text-indent: 70px;
                    }
                    .section-4 .blocks .block .icon .sub.display-block {
                        display: block;
                        text-align: center;
                        margin: 10px 0;
                    }

            .section-4 .blocks .block .title {
                display: block;
                font-size: 20px;
                text-transform: uppercase;
                margin-bottom: 15px;
            }

            .section-4 .blocks .block ul {
                list-style-type: none;
                font-family: 'SVN-Nexa Thin';
            }

                .section-4 .blocks .block ul li {
                    margin-bottom: 10px;
                    position: relative;
                    text-indent: 10px;
                }

                    .section-4 .blocks .block ul li::before {
                        position: absolute;
                        content: "";
                        top: 8px;
                        left: 0px;
                        border: medium none;
                        border-top: 5px solid transparent;
                        border-left: 5px solid #fff;
                        border-bottom: 5px solid transparent;
                    }

        .section-4 .blocks .sub-block {
            display: block;
            margin-top: 10px;
            text-align: center;
        }

            .section-4 .blocks .sub-block h5 {
                font-size: 22px;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            .section-4 .blocks .sub-block span {
                display: block;
                font-size: 18px;
                font-family: 'SVN-Nexa Thin';
            }

                .section-4 .blocks .sub-block span.sub-title {
                    font-size: 20px;
                    text-transform: uppercase;
                }


.section-5 {
    background-image: linear-gradient(to top, #9D2567, #C2214A);
}

    .section-5 .wrapper {
        padding: 30px 0;
        background: transparent url(../images/section-5.png) center center no-repeat;
        background-size: inherit;
    }

    .section-5 h2 {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
        font-family: 'SVN-Nexa Bold';
        margin-bottom: 30px;
        letter-spacing: 10px;
    }

        .section-5 h2 span {
            display: block;
            margin-top: 10px;
        }

    .section-5 .box {
        display: block;
        text-align: center;
    }

        .section-5 .box .box-wrapper {
            display: inline-block;
            border: solid 1px #fff;
            padding: 10px 30px;
            text-transform: uppercase;
            text-align: left;
        }

        .section-5 .box .box-number {
            font-size: 20px;
        }

        .section-5 .box span {
            display: block;
            margin-bottom: 5px;
        }

        .section-5 .box .box-number span.number {
            font-family: 'SVN-Nexa Bold';
            font-size: 70px;
            line-height: 70px;
            font-weight: bold;
        }

        .section-5 .box .box-title {
            font-size: 40px;
            line-height: 40px;
            margin-left: 15px;
        }

.section-6 {
    padding: 50px 0;
}

    .section-6 .wrapper {
        background: transparent url(../images/section-6.png) center center no-repeat;
        background-size: inherit;
    }

    .section-6 h2 {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
        font-family: 'SVN-Nexa Bold';
        margin-bottom: 30px;
        letter-spacing: 10px;
    }

    .section-6 .block-1 h3 {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 25px;
        font-family: 'SVN-Nexa Bold';
        padding-bottom: 10px;
        border-bottom: solid 2px #fff
    }

        .section-6 .block-1 h3 span {
            display: block;
            font-size: 60px;
        }

    .section-6 .block-1 ul {
        list-style-type: none;
        font-family: 'SVN-Nexa Thin';
    }

        .section-6 .block-1 ul li {
            margin-bottom: 15px;
            position: relative;
            text-indent: 10px;
        }

    .section-6 .block ul li::before {
        position: absolute;
        content: "";
        top: 8px;
        left: 0px;
        border: medium none;
        border-top: 5px solid transparent;
        border-left: 5px solid #fff;
        border-bottom: 5px solid transparent;
    }

    .section-6 .block .block-inline {
        display: block;
        text-align: center;
        position: relative;
    }

    .section-6 .block-1 .block-inline.arrow::after {
        position: absolute;
        content: "";
        top: 42%;
        left: 100%;
        width: 26px;
        height: 32px;
        display: block;
        background: transparent url(../images/icon-arrow.png) no-repeat center center;
    }

    .section-6 .block .block-inline .block-wrapper {
        width: 70%;
        text-align: left;
        display: inline-block;
    }


    .section-6 .block-2 .block-inline .block-wrapper {
        background-image: linear-gradient(to top, #9D2567, #C2214A);
        border-radius: 20px;
        padding: 10px 10px 25px 10px;
        width: 85%;
    }

    .section-6 .block-2 h3 {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 10px;
        font-family: 'SVN-Nexa Bold';
    }

        .section-6 .block-2 h3 span {
            display: block;
            font-size: 18px;
        }

    .section-6 .block-2 .number {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 70px;
        line-height: 70px;
        padding-bottom: 10px;
        margin-top: 20px;
        font-family: 'SVN-Nexa Bold';
    }

        .section-6 .block-2 .number span {
            display: block;
            font-size: 20px;
            line-height: 22px;
            margin: 5px 0;
        }

    .section-6 .block-2 .bonus {
        display: block;
        font-size: 20px;
        line-height: 22px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 15px;
        min-height: 44px;
    }


    .section-6 .media-button {
        display: block;
        text-align: center;
        margin: 50px 0
    }


.section-7 {
    background: transparent url(../images/section-7.png) right center no-repeat;
    background-size: inherit;
}

    .section-7 .wrapper {
        padding: 50px 0;
        background-image: linear-gradient(to right, #1a367e, transparent);
    }

    .section-7 h2 {
        display: block;
        text-transform: uppercase;
        font-size: 40px;
        font-family: 'SVN-Nexa Bold';
        margin-bottom: 30px;
        letter-spacing: 10px;
    }

    .section-7 .icon img {
        max-width: 100%;
    }

    .section-7 .item {
        margin-bottom: 30px;
    }

        .section-7 .item .title {
            text-transform: uppercase;
            font-size: 16px;
        }

        .section-7 .item .content {
            font-family: 'SVN-Nexa Thin';
        }



.section-8 {
    background: transparent url(../images/section-8.png) center -1px no-repeat;
    background-size: inherit;
}

    .section-8 .wrapper {
        padding: 50px 0;
        background-image: linear-gradient(to top, #000, transparent);
    }

    .section-8 h2 {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
        font-family: 'SVN-Nexa Bold';
        margin-bottom: 80px;
        letter-spacing: 10px;
    }

    .section-8 .block-1 {
        display: block;
        margin-bottom: 50px;
        text-align: center;
    }

        .section-8 .block-1 .stories {
            padding: 0;
            /*border-top: 2px solid #fff;*/
            list-style: none;
            padding-top: 50px;
            position: relative;
        }

        .section-8 .block-1 .storie {
            /*position: relative;*/
        }

        .section-8 .block-1 .stories .storie .line-before {
            position: absolute;
            content: "";
            width: 50%;
            left: 0;
            top: -52px;
            border-top: solid 2px #fff;
        }

        .section-8 .block-1 .stories .storie .line-after {
            position: absolute;
            content: "";
            width: 50%;
            left: 50%;
            top: -52px;
            border-top: solid 2px #fff;
        }

        .section-8 .block-1 .stories .storie.first .line-before {
            display: none;
        }

        .section-8 .block-1 .stories .storie.last .line-after {
            display: none;
        }

        .section-8 .block-1 .stories .timeline {
            width: 30px;
            height: 30px;
            margin-left: -15px;
            background: #fff;
            border: 1px solid #fff;
            border-radius: 50%;
            color: #428bca;
            position: absolute;
            top: -65px;
            left: 50%;
        }

        .section-8 .block-1 .title {
            font-size: 40px;
            font-family: 'SVN-Nexa Heavy';
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        .section-8 .block-1 p {
            font-size: 18px;
            line-height: 22px;
            font-family: 'SVN-Nexa Thin';
        }

        .section-8 .block-1 ul {
            list-style-type: none;
            font-family: 'SVN-Nexa Thin';
            text-align: left
        }
    
        .section-8 .block-1 ul li {
                margin-bottom: 15px;
                position: relative;
                text-indent: 10px;
            }
    
        .section-8 .block-1 ul li::before {
            position: absolute;
            content: "";
            top: 8px;
            left: 0px;
            border: medium none;
            border-top: 5px solid transparent;
            border-left: 5px solid #fff;
            border-bottom: 5px solid transparent;
        }

    .section-8 .block-2 .item {
        display: block;
        margin-bottom: 50px;
    }

        .section-8 .block-2 .item .title {
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        .section-8 .block-2 .item p {
            font-size: 18px;
            line-height: 22px;
            font-family: 'SVN-Nexa Thin';
        }


footer {
    padding: 30px 0;
    background-color: #C42245;
}

    footer .copy-right {
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    footer .media-social {
        text-align: right;
    }

    footer .footer-logo {
        width: 165px;
        height: 62px;
    }

.telegram-bottom {
    position: fixed;
    top: auto;
    bottom: 20px;
    right: 90px;
    left: auto;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.5);
    width: 82px;
    height: 82px;
    background-image: url(../images/telegram_icon.png);
    background-repeat: no-repeat;
	background-position: -82px 0;
    line-height: 82px;
    text-indent: -100%;
    background-color: transparent;
    border-radius: 50px;
}
.telegram-bottom a
{
    display: block;
    width: 100%;
    height: 100%;
}
.telegram-bottom:hover
{
    background-position: 0 0;
}


.pop-ads
{
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    z-index: 1000
}
.pop-overlay{
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    z-index: -1
}
.pop-ads .pop-wrap
{
    padding-top:50px;
}

.pop-ads .pop-img
{
    display: block;
    position: relative;
}
.pop-ads .pop-close {
    display: block;
    position: absolute;
    top:-30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  
  .pop-ads .pop-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

.pop-ads .pop-icon a
        {
            display: inline-block;
            width: 170px;
            height: 176px;
            background-image:url(../images/popup-icons.png);
            background-repeat: no-repeat;
            line-height: 176px;
            -webkit-transition-property: none;
            -moz-transition-property: none;
            -o-transition-property: none;
            transition-property: none;
            margin: 0 15px;
            background-position: -170px 0;
        }
        
        .pop-ads .pop-icon a.telegram
        {
            background-position-y:-176px;
        }
        .pop-ads .pop-icon a:hover{
            background-position-x: 0;            
        }
        


.fb-livechat,
.fb-widget {
    display: none
}

.ctrlq.fb-button,
.ctrlq.fb-close {
    position: fixed;
    right: 6px;
    cursor: pointer
}

.ctrlq.fb-button {
    z-index: 1;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyOCAxMjgiIGhlaWdodD0iMTI4cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjggMTI4IiB3aWR0aD0iMTI4cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxyZWN0IGZpbGw9IiMwMDg0RkYiIGhlaWdodD0iMTI4IiB3aWR0aD0iMTI4Ii8+PC9nPjxwYXRoIGQ9Ik02NCwxNy41MzFjLTI1LjQwNSwwLTQ2LDE5LjI1OS00Niw0My4wMTVjMCwxMy41MTUsNi42NjUsMjUuNTc0LDE3LjA4OSwzMy40NnYxNi40NjIgIGwxNS42OTgtOC43MDdjNC4xODYsMS4xNzEsOC42MjEsMS44LDEzLjIxMywxLjhjMjUuNDA1LDAsNDYtMTkuMjU4LDQ2LTQzLjAxNUMxMTAsMzYuNzksODkuNDA1LDE3LjUzMSw2NCwxNy41MzF6IE02OC44NDUsNzUuMjE0ICBMNTYuOTQ3LDYyLjg1NUwzNC4wMzUsNzUuNTI0bDI1LjEyLTI2LjY1N2wxMS44OTgsMTIuMzU5bDIyLjkxLTEyLjY3TDY4Ljg0NSw3NS4yMTR6IiBmaWxsPSIjRkZGRkZGIiBpZD0iQnViYmxlX1NoYXBlIi8+PC9zdmc+) center no-repeat #0084ff;
    width: 80px;
    height: 80px;
    text-align: center;
    bottom: 20px;
    border: 0;
    outline: 0;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16);
    -webkit-transition: box-shadow .2s ease;
    background-size: 80%;
    transition: all .2s ease-in-out
}

.ctrlq.fb-button:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .09), 0 4px 40px rgba(0, 0, 0, .24)
}

.fb-widget {
    background: #fff;
    z-index: 2;
    position: fixed;
    width: 360px;
    height: 435px;
    overflow: hidden;
    opacity: 0;
    bottom: 0;
    right: 6px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
    -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
    -o-box-shadow: 0 5px 40px rgba(0, 0, 0, .16)
}

.fb-credit {
    text-align: center;
    margin-top: 8px
}

.fb-credit a {
    transition: none;
    color: #bec2c9;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-decoration: none;
    border: 0;
    font-weight: 400
}

.ctrlq.fb-overlay {
    z-index: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    -webkit-transition: opacity .4s, visibility .4s;
    transition: opacity .4s, visibility .4s;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .05);
    display: none
}

.ctrlq.fb-close {
    z-index: 4;
    padding: 0 6px;
    background: #365899;
    font-weight: 700;
    font-size: 11px;
    color: #fff;
    margin: 8px;
    border-radius: 3px
}

.ctrlq.fb-close::after {
    content: 'x';
    font-family: sans-serif
}
